/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Layout */

.container {
    max-width: 1024px;
    margin: auto;
    margin-bottom: 60px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

/* Evita che l'img esca dal contenitore */
img {
    max-width: 100%;
    display: block;
}


/* Header style */
.page-header {
    background-color: #FC6D44;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}



.logo {
    height: 20px;
}

/* Disposizione navbar con flex */
.navbar {
    padding: 0px 10px;
    color: white;
    display: flex;
    gap: 10px;

}


.nav-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
}


/* Titolo e sottotitolo Boolando */
.title {
    margin-top: 50px;
    text-align: center;
    font-size: x-large;

}

.subtitle {
    text-align: center;
    font-size: 15px;
    margin-bottom: 50px;
}


/* Stile Items  del flex */
.col {
    width: calc(100% / 4);
    border-style: solid;
    border-color: #E7E7E7;
    border-width: 2px;
}


/* Disposizione e stile della parte riguardante brand, tipo di prodotto e prezzo */
.brand {
    margin-top: 5px;
    font-size: 13px;
}


.type {
    font-weight: bold;
    font-size: 15px;
}


.price {
    display: inline-block;
    font-size: 15px;
    color: red;
}


.price-full {
    display: inline-block;
    font-size: 15px;
    text-decoration: line-through;
}


article {
    margin-left: 5px;

}


/* Footer della pagina */
.page-footer {
    background-color: #1A1A1A;
    height: 80px;
    color: white;
    padding-top: 10px;
}



.flex-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.info {
    font-size: 10px;
}